*{
    margin: 0;
    padding: 0;

}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: orangered;
}

header { 
  background-color: orangered; 
  color: #fff; 
  text-align: center; 
  padding: 1em; 
  margin-bottom: 2rem;
  margin-top: auto;
} 

.main{
    background: var(--second-bg-color);
  background-image: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url("image/website2");
    width: 100%;
    padding-top: 30px;
    margin: ;
    background-position: center;
    background-size: cover;
    height: 120vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: orangered;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: orangered;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orangered;
    margin-top: 13px;
    color: #fff;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height:40px;
    background: orangered;
    border: 2px solid orangered;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

.content .par{
    padding-left: 20px;
    padding-bottom: 5px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 2%;
    letter-spacing: 2px;
}

.content h2{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-left: 20px;
    margin-top: 2%;
    letter-spacing: 2px;
}

.content .cn{
    width: 160px;
    height: 40px;
    background: orangered;
    border: none;
    margin-bottom: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a{
    text-decoration: none;
    color: #000;
    transition: .3s ease;
}

.cn:hover{
    background-color: #fff;
}

.content span{
    color: orangered;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380;
    background: linear-gradient(to top, rgba(0,0,0,0.8)50%, rgba(0,0,0,0.8)50%);
    position: absolute;
    top: 10px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
}

.form h2{
    width: 220px;
    font-family: sans-serif;
    text-align: center;
    color: orangered;
    font-size: 1rem;
    background-color: #fff;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background: transparent;
    border-bottom: 1px solid orangered;
    border-top: none;
    border-right: none;
    border-left: none;
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family: sans-serif;
}

label { 
  display: block; 
  margin-bottom: 8px; 
  margin-top: 10px;
} 

form input, select { 
  width: 240px; 
  padding: 10px; 
  margin-bottom: 10px; 
  border: 1px solid orangered; 
  border-radius: 4px; 
  box-sizing: border-box; 
} 

.form input:focus{
    outline: none;
}

::placeholder{
    color: #fff;
    font-family: Arial;
}

.btnn{
    width: 240px;
    height: 40px;
    background:orangered;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.4s ease;
}

.btnn:hover{
    background: #fff;
    color: orangered;
}

.form .link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
  text-decoration: none;
  color: orangered;
}

section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
  color: var(--bg-color);
}

.home {
    padding-top: 3rem;
    padding-bottom: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content h3{
  font-size: 3.2rem;
  font-weight: 900;
}

.home-content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: orangered;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
}

.home-content p {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3rem;
}

.home-img img {
  border: 2px solid var(--main-color);
  border-radius: 2rem;
}

.social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: .2rem solid orangered;
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: .2s ease;
}

.social-media a:hover {
  background: orangered;
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem orangered;
}

.home .social-media img {
    overflow: hidden;
    border-radius: 2rem;
    padding: 1px;
    height: fit-content;
}

.btn-media{
    display: inline;
    text-decoration: none;
    padding: 1rem 2.8rem;
    border-radius: 4rem;
    box-shadow: 0 0 1rem orangered;
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.3rem;
    font-weight: 600;
    transition: .5s ease;
    background:orangered;
    border: none;
    margin-top: 30px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
    transition: 0.5s ease;
}

.btn-media:hover{
    background: #fff;
    color: orangered;

}

.footer{
    background: var(--bg-color);
    color: #f6f6f6;
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;
    height: 30vh;
    justify-content: space-between;
    padding: 2rem 8%;
}
.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}

.footer-container{
    display: flex;
    justify-content: left;
    gap: 6rem;
}
.footer-container .logo{
    margin-bottom: 1rem;
}
.footer-box h3{
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    color: #fff;
}

.footer-box .span-footer{
  color: #fff;
  margin-bottom: 10px;
}
.footer-box a{
    color: white;
    margin-bottom: 10px;
    text-decoration: none;
}
.footer-box a:hover{
    color: orangered;
}
.footer-text p{
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 20px;
    text-align: center;
    background: #323946;
    color: orangered;
}

.footer-iconTop a {
  display: inline;
  justify-content: center;
  align-items: center;
  padding: .5rem;
  background: orangered;
  border-radius: .3rem;
  transition: .5s ease;
  float: right;
  height: 2rem;
}

.footer-iconTop a:hover {
  box-shadow: 0 0 1rem orangered;
}

.footer-iconTop a i {
  font-size: 2.4rem;
  color: #323946;
}

